*{
	margin: 0px;
	padding: 0px;
}
.top{
	width: 100%;
	height: 34px;
}
.t-content{
	width: 1100px;
	height: 34px;
	margin: auto;
}
.t-ul1{
	float: left;
}
.t-content li{
	display: inline;
	font-size: 12px;
	line-height: 34px;
}
.welcome{
	margin: 0px 20px 0px 5px;
}
.t-content img{
	margin-left: 32px;
	position: relative;
	top: 5px;
}
.t-content span{
	color: #e73e41;
}
.t-content a:link,.t-content a:visited{
	text-decoration: none;
	color: black;
}
.t-content a:hover,.t-content a:active{
	color: red;
}
.t-ul2{
	float: right;
}
.head{
	width: 100%;
	height: 111px;
	background-color: #f5f5f5;
}
.h-content{
	width: 1100px;
	height: 111px;
	margin: auto;
}
.h-content img{
	float: left;
	margin: 23px 0px 0px 0px;
}
.h-content ul{
	position: relative;
    top: 77px;
    right: 5px;
    float: right;
}
.h-content li{
	display: inline;
	margin-left: 77px;
}
.h-content a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.step1{
	width: 100%;
	height: 935px;
}
.title{
	width: 100%;
	height: 32px;
}
.title-content{
	width: 1100px;
	height: 32px;
	margin: auto;
	margin-top: 65px;
	position: relative;
}
.t-step1{
	position: relative;
	left: 50px;
}
.t-step1-text{
	font-size: 14px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 120px;
}
.t-step2{
	position: relative;
	left: 28px;
}
.t-step2-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 370px;
}
.t-step3{
	position: relative;
	left: 7px;
}
.t-step3-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 640px;
}
.t-step4{
	position: relative;
	left: -15px;
}
.t-step4-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 880px;
}
.body{
	width: 100%;
}
.b-content{
	width: 300px;
	margin: 72px auto 0px;
}
.b-content img{
	vertical-align: middle;
}
.b-user-name,.b-verify-code{
	width: 350px;
	height: 50px;
	border: 1px solid #bdb9ba;
}
.b-verify-code{
	border-top: none;
}
	
.b-user-name input{
	width: 300px;
	height: 50px;
	border: none;
	outline: none;
}
.user-img,.code-img{
	padding: 14.5px 15px;
	float: left;
	background-color: #f3f3f3;
}
.b-verify-code input{
	width: 190px;
	height: 49px;
	border: none;
	outline: none;
}
button{
	width: 344px;
	height: 44px;
	background-color: #28c3d5;
	border: none;
	border-radius: 5px;
	margin: 57px auto 0px;
	font-size: 20px;
	color: #fff;
}
.step2{
	width: 100%;
	height: 935px;
}
.phone-numble{
	float: left;
	margin-right: 8px;
	margin-left: 39px;	
}
.phone-numble-text{
	font-size: 14px;
	float: left;
}
.e-mail{
	float: left;
	margin-left: 32px;
	margin-right: 8px;
}
.e-mail-text{
	font-size: 14px;
}
.s2-title{
	width: 100%;
	height: 32px;
}
.s2-title-content{
	width: 1100px;
	height: 32px;
	margin: auto;
	margin-top: 65px;
	position: relative;
}
.s2-t-step1{
	position: relative;
	left: 50px;
}
.s2-t-step1-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 120px;
}
.s2-t-step2{
	position: relative;
	left: 28px;
}
.s2-t-step2-text{
	font-size: 14px;
	color: #fff;
    position: absolute;
    top: 8px;
    left: 370px;
}
.s2-t-step3{
	position: relative;
	left: 7px;
}
.s2-t-step3-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 640px;
}
.s2-t-step4{
	position: relative;
	left: -15px;
}
.s2-t-step4-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 880px;
}
.s2-body{
	width: 100%;
}
.s2-b-content{
	width: 300px;
	margin: 49px auto 0px;
}
.s2-b-content img{
	vertical-align: middle;
}
.s2-b-user-name,.s2-b-verify-code{
	width: 350px;
	height: 50px;
	border: 1px solid #bdb9ba;
}
.s2-b-verify-code{
	border-top: none;
}
.s2-b-user-name{
	margin-top: 45px;
}	
.s2-b-user-name input{
	width: 300px;
	height: 50px;
	border: none;
	outline: none;
}
.s2-user-img,.s2-code-img{
	padding: 14.5px 15px;
	float: left;
	background-color: #f3f3f3;
}
.s2-b-verify-code input{
	width: 190px;
	height: 49px;
	border: none;
	outline: none;
}
.step3{
	width: 100%;
	height: 935px;
}
.s3-title{
	width: 100%;
	height: 32px;
}
.s3-title-content{
	width: 1100px;
	height: 32px;
	margin: auto;
	margin-top: 65px;
	position: relative;
}
.s3-t-step1{
	position: relative;
	left: 50px;
}
.s3-t-step1-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 120px;
}
.s3-t-step2{
	position: relative;
	left: 28px;
}
.s3-t-step2-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 370px;
}
.s3-t-step3{
	position: relative;
	left: 7px;
}
.s3-t-step3-text{
	font-size: 14px;
	color: #fff;
    position: absolute;
    top: 8px;
    left: 640px;
}
.s3-t-step4{
	position: relative;
	left: -15px;
}
.s3-t-step4-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 880px;
}
.s3-body{
	width: 100%;
}
.s3-b-content{
	width: 350px;
	margin: 49px auto 0px;
}
.s3-b-content img{
	vertical-align: middle;
}
.s3-b-newpassword{
	margin-top: 48px;
}
.s3-b-newpassword,.s3-b-password-again,.s3-b-verify-code{
	width: 350px;
	height: 50px;
	border: 1px solid #bdb9ba;
}
.s3-b-password-again,.s3-b-verify-code{
	border-top: none;
}
.s3-b-newpassword input,.s3-b-password-again input{
	width: 300px;
	height: 50px;
	border: none;
	outline: none;
}
.s3-password-img,.s3-code-img{
	padding: 14.5px 15px;
	float: left;
	background-color: #f3f3f3;
}
.s3-b-verify-code input{
	width: 190px;
	height: 49px;
	border: none;
	outline: none;
}
.s3-right{
	float: left;
}
.s3-makesure{
	font-size: 14px;
}
.s3-label{
	font-size: 14px;

}
.s3-phone-code{
	width: 100px;
	height: 27px;
	margin: 13px 0px 0px 13px;
}
.step4{
	width: 100%;
	height: 935px;
}
.s4-title{
	width: 100%;
	height: 32px;
}
.s4-title-content{
	width: 1100px;
	height: 32px;
	margin: auto;
	margin-top: 65px;
	position: relative;
}
.s4-t-step1{
	position: relative;
	left: 50px;
}
.s4-t-step1-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 120px;
}
.s4-t-step2{
	position: relative;
	left: 28px;
}
.s4-t-step2-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 370px;
}
.s4-t-step3{
	position: relative;
	left: 7px;
}
.s4-t-step3-text{
	font-size: 14px;
    position: absolute;
    top: 8px;
    left: 640px;
}
.s4-t-step4{
	position: relative;
	left: -15px;
}
.s4-t-step4-text{
	font-size: 14px;
	color: #fff;
    position: absolute;
    top: 8px;
    left: 880px;
}
.s4-body{
	width: 100%
}
.s4-b-content{
	width: 600px;
	height: 200px;
	margin-left: 433px;
	margin-top: 105px;
}
.s4-right{
	float: left;
	margin: 15px 23px 0px 23px;
}
.s4-succeed{
	font-size: 28px;
line-height: 50px;
}
.s4-user-name,.s4-warn{
	font-size: 14px;
	line-height: 25px;
}
.s4-b-content span{
	color: red;
}
.s4-login{
	width: 344px;
	height: 44px;
	background-color: #28c3d5;
	border: none;
	border-radius: 5px;
	margin: 57px 0px 0px 80px;
	font-size: 20px;
	color: #fff;
}