*{
	margin: 0px;
	padding: 0px;
}
.all{
	background-color: #eeeeee;
}
.top{
	width: 100%;
	height: 35px;
}
.t-content{
	width: 1100px;
	height: 35px;
	margin: auto;
}
.t-content li{
	display: inline;
	font-size: 13px;
	font-weight: bold;
	color: #999;
}
.t-content img{
	position: relative;
	top: 5px;
}
.t-content span{
	color: #ea5c5b;
}
.t-ul1{
	float: left;
}
.t-ul1 a,.t-ul2 a{
	color: #999;
	text-decoration: none;
}
.t-help{
	margin-left: 44px;
}
.t-ul2{
	float: right;
}
.t-ul2 .t-out{
	text-decoration: underline;
}
.head{
	width: 100%;
	height: 118px;
	background-color: #fff;
}
.h-content{
	width: 1100px;
	height: 118px;
	margin: auto;
}
.head img{
	float: left;
	margin: 19px 150px 19px 0px;
}
.head ul{
	margin-top: -45px;
	float: right;
}
.head li{
	display: inline;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 18px;
}
#h-li1{
	margin-left: 0px;
}
#h-li5{
	margin-right: 0px;
}
.head a:link,.head a:visited{
	text-decoration: none;
	color: #383737;
}
.head a:hover,.head a:active{
	color: red;
}
.body{
	width: 1100px;
	height: 924px;
	margin: 22px auto 0px;
}
.catalogue{
	height: 748px;
	width: 219px;
	background-color: #fff;
	float: left;
}
.catalogue li{
	list-style-type: none;
	height: 36px;
	width: 219px;
	position: relative;
	font-size: 14px;
	font-weight: bold;
}
.catalogue .fund-details{
	height: 42px;
	line-height: 42px;
	background-color: #fff2f2;	
}
.catalogue .fund-details a:link,.catalogue .fund-details a:visited{
	color: #ea5e5f;
	font-size: 16px;
	line-height: 42px;
}
.catalogue a:link,.catalogue a:visited{
	text-decoration: none;
	color: #383737;
	margin-left: 84px;
	line-height: 36px;
}
.c-account img{
	position: absolute;
	top: 11px;
	left: 57px;
}
.c-property img,.c-financing img,.c-else img{
	position: absolute;
	top: 7px;
	left: 57px;
}
.catalogue .c-account{
	background-color: #ea5c5b;
	height: 42px;
}
.c-account a:link,.c-account a:visited{
	text-decoration: none;
	color: #fff;
	margin-left: 84px;
	line-height: 42px;
}
.welcome{
	width: 865px;
	height: 41px;
	background-color: #fff;
	border: 1px solid #e7e5e6;
	margin: 0px 0px 18px 235px;
	position: relative;
}
.welcome img{
	margin: 10px 11px 0px 18px;
	float: left;
}
.hello{
	width: 400px;
	margin: 11px 0px 0px;
    font-size: 14px;
    font-weight: bold;
}
.welcome span{
	color: #ea5c5b;
}
.last-time{
	font-size: 14px;
    float: right;
    position: absolute;
    right: 22px;
    top: 11px;
}
.details{
	width: 865px;
	height: 685px;
	background-color: #fff;
	margin-left: 235px;
	border: 1px solid #e7e5e6;
}
.navigation{
	width: 100%;
	height: 30px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e5e6;
	position: relative;
}
#n-drawing{
	height: 37px;
	width: 122px;
	font-size: 18px;
	font-weight: bold;
	color: #ea5e5f;
	line-height: 37px;
	text-align: center;
	border: 1px solid #e7e5e6;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	position: absolute;
	top: -7px;
	left: 245px;
}
#n-add-up,#n-fund{
	height: 30px;
	width: 122px;
	font-size: 16px;
	color: #868686;
	line-height: 30px;
	text-align: center;
	border-right: 1px solid #e7e5e6;
	position: absolute;
}
#n-add-up{
	left: 122px;
	border-right: none;
}
.navigation a{
	float: right;
	font-size: 12px;
	color: #ff7100;
	line-height: 30px;
	margin-right: 26px;
}
.d-type{
	width: 124px;
	height: 21px;
	border: 1px solid #cbcbcb;
	margin: 70px 50px 0px 0px;
}
.d-begin{
	width: 106px;
	margin-right: 37px;
}
.d-over{
	width: 106px;
}
.details button{
	width: 82px;
	height: 22px;
	background-color: #f0931c;
	border: none;
	font-size: 14px;
	color: #fff;
	margin-left: 21px;
}
.details label{
	font-size: 14px;
}
.d-type-text{
	margin-left: 27px;
}
.details table{
	width: 824px;
	height: 222px;
	border: 1px solid #e6e6e6;
	border-top: none;
	margin: 46px auto 0px;
	border-collapse: collapse;
}
.details th{
	background-color: #ebebeb;
	height: 32px;
	color: #696969;
	font-size: 14px;
	border-right: 1px solid #fff;
}
.yinhang{
	width: 130px;
}
.zhanghao{
	width: 133px;
}
.zonge{
	width: 85px;
}
.daozhang{
	width: 84px;
}
.shouxufei{
	width:87px;
}
.shijian{
	width: 111px;
}
.zhuangtai{
	width: 94px;
}
.details .caozuo{
	width: 95px;
	border: none;
	border-right: 1px solid #e6e6e6;
}
.tr2{
	background-color: #f6f6f6;
}