<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>find password</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/find-password.css">
</head>
<body>
	<div>
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li class="t-welcome">您好，欢迎来到东融金融交易网站！</li>
					<li><a href="javascript:void(0)">[登录]</a></li>
					<li><a href="javascript:void(0)">[注册]</a></li>
					<li><img src="../../asset/img/phone.png">服务热线：<span>400-881-9003</span></li>
				</ul>
				<ul class="t-ul2">
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">帮助中心</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
			<div class="h-content">
				<img src="../../asset/img/logo1.png">
				<ul>
					<li><a href="javascript:void(0)">首页</a></li>
					<li><a href="javascript:void(0)">我要投资</a></li>
					<li><a href="javascript:void(0)">我要融资</a></li>
					<li><a href="javascript:void(0)">新闻资讯</a></li>
					<li><a href="javascript:void(0)">关于我们</a></li>
				</ul>
			</div>
		</div>
		<div class="step1">
			<div class="title">
				<div class="title-content">
					<img class="t-step1" src="../../asset/img/password/cback1.png">
					<img class="t-step2" src="../../asset/img/password/back2.png">
					<img class="t-step3" src="../../asset/img/password/back2.png">
					<img class="t-step4" src="../../asset/img/password/back4.png">
					<p class="t-step1-text">1.确认用户名</p>
					<p class="t-step2-text">2.选择找回密码方式</p>
					<p class="t-step3-text">3.修改密码</p>
					<p class="t-step4-text">4.完成密码重置</p>
				</div>
			</div>
			<div class="body">
				<div class="b-content">
					<form>
						<div class="b-user-name">
							<img class="user-img" src="../../asset/img/password/user-name.png">
							<input type="text" name="user-name" placeholder="请输入用户名/手机号/邮箱">
						</div>
						<div class="b-verify-code">
							<img class="code-img" src="../../asset/img/password/verify-code.png">
							<input type="text" name="verify-code" placeholder="请输入验证码">
							<img src="../../asset/img/login1/verify-code-page.png">
							<img src="../../asset/img/login1/refresh.png">
						</div>
						<button>下一步</button>	
					</form>
				</div>
			</div>
		</div>
		<div class="step2">
			<div class="s2-title">
				<div class="s2-title-content">
					<img class="s2-t-step1" src="../../asset/img/password/back1.png">
					<img class="s2-t-step2" src="../../asset/img/password/cback2.png">
					<img class="s2-t-step3" src="../../asset/img/password/back2.png">
					<img class="s2-t-step4" src="../../asset/img/password/back4.png">
					<p class="s2-t-step1-text">1.确认用户名</p>
					<p class="s2-t-step2-text">2.选择找回密码方式</p>
					<p class="s2-t-step3-text">3.修改密码</p>
					<p class="s2-t-step4-text">4.完成密码重置</p>
				</div>
			</div>
			<div class="s2-body">
				<div class="s2-b-content">
					<form>
						<input class="phone-numble" checked="checked" type="radio" name="ways" value="phone-numble">
						<p class="phone-numble-text">手机号码找回</p>
						<input class="e-mail" type="radio" name="ways" value="e-mail">
						<p class="e-mail-text">电子邮箱找回</p>
						<div class="s2-b-user-name">
							<img class="s2-user-img" src="../../asset/img/password/user-name.png">
							<input type="text" name="user-name" placeholder="请输入用户名/手机号/邮箱">
						</div>
						<div class="s2-b-verify-code">
							<img class="s2-code-img" src="../../asset/img/password/verify-code.png">
							<input type="text" name="verify-code" placeholder="请输入验证码">
							<img src="../../asset/img/login1/verify-code-page.png">
							<img src="../../asset/img/login1/refresh.png">
						</div>
						<button>下一步</button>
					</form>
				</div>
			</div>
		</div>
		<div class="step3">
			<div class="s3-title">
				<div class="s3-title-content">
					<img class="s3-t-step1" src="../../asset/img/password/back1.png">
					<img class="s3-t-step2" src="../../asset/img/password/back2.png">
					<img class="s3-t-step3" src="../../asset/img/password/cback2.png">
					<img class="s3-t-step4" src="../../asset/img/password/back4.png">
					<p class="s3-t-step1-text">1.确认用户名</p>
					<p class="s3-t-step2-text">2.选择找回密码方式</p>
					<p class="s3-t-step3-text">3.修改密码</p>
					<p class="s3-t-step4-text">4.完成密码重置</p>
				</div>
			</div>
			<div class="s3-body">
				<div class="s3-b-content">
					<img class="s3-right" src="../../asset/img/register/right.png">
					<p class="s3-makesure">请确认验证码已发送到您的手机：11111111111</p>
					<label class="s3-label">请输入手机验证码</label><input class="s3-phone-code" type="text" name="验证码">
					<form>
						<div class="s3-b-newpassword">
							<img class="s3-password-img" src="../../asset/img/password/password.png">
							<input type="text" name="重置密码" placeholder="请重新设置您的密码">
						</div>
						<div class="s3-b-password-again">
							<img class="s3-password-img" src="../../asset/img/password/password.png">
							<input type="text" name="再次输入密码" placeholder="请再次输入您的重置密码">
						</div>
						<div class="s3-b-verify-code">
							<img class="s3-code-img" src="../../asset/img/password/verify-code.png">
							<input type="text" name="verify-code" placeholder="请输入验证码">
							<img src="../../asset/img/login1/verify-code-page.png">
							<img src="../../asset/img/login1/refresh.png">
						</div>
						<button>下一步</button>
					</form>
				</div>
			</div>
		</div>
		<div class="step4">
			<div class="s4-title">
				<div class="s4-title-content">
					<img class="s4-t-step1" src="../../asset/img/password/back1.png">
					<img class="s4-t-step2" src="../../asset/img/password/back2.png">
					<img class="s4-t-step3" src="../../asset/img/password/back2.png">
					<img class="s4-t-step4" src="../../asset/img/password/cback4.png">
					<p class="s4-t-step1-text">1.确认用户名</p>
					<p class="s4-t-step2-text">2.选择找回密码方式</p>
					<p class="s4-t-step3-text">3.修改密码</p>
					<p class="s4-t-step4-text">4.完成密码重置</p>
				</div>
			</div>
			<div class="s4-body">
				<div class="s4-b-content">
					<img class="s4-right" src="../../asset/img/register/ok.png">
					<div>
						<p class="s4-succeed">恭喜您，修改密码成功</p>
						<p class="s4-user-name">您属于<span>个人</span>用户，用户名为：<span>admin</span>，手机号为：<span>11111111111</span></p>
						<p class="s4-warn">您可以使用用户名或手机号进行登录，请妥善保管好您的密码</p>
					</div>
					<button class="s4-login">立即登录</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>