<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>东融理财券</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/management.css">
</head>
<body>
	<div class="all">
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li><img src="../../asset/img/phone.png">客服热线：<span>400-881-9003</span></li>
					<li class="t-help"><a href="javascript:void(0)">帮助中心</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">关注我们</a></li>
				</ul>
				<ul class="t-ul2">
					<li><img src="../../asset/img/login1/user-name.png">您好，<a href="javascript:void(0)"><span>wangcr</span></a></li>
					<li><a href="javascript:void(0)">消息(<span>0</span>)</a></li>
					<li>|</li>
					<li class="t-out"><a href="javascript:void(0)">退出</a></li>
					<li><a href="javascript:void(0)">计算器</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
            <div class="h-content">
                <img src="../../asset/img/home/东融logo副本.png">
                <ul>
                    <li id="h-li1"><a href="javascrip:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">我要投资</a></li>
                    <li><a href="javascript:void(0)">我要融资</a></li>
                    <li><a href="javascript:void(0)">经常活动</a></li>
                    <li id="h-li5"><a href="javascript:void(0)">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="body">
	        <div class="catalogue">
	        	<ul>
	        		<li class="c-account"><img src="../../asset/img/member/person.png"><a href="javascript:void(0)">我的账户</a></li>
	        		<li class="c-add-up"><a href="javascript:void(0)">账户充值</a></li>
	        		<li><a href="javascript:void(0)">我要提款</a></li>
	        		<li><a href="javascript:void(0)">资金明细</a></li>
	        		<li><a href="javascript:void(0)">个人信息</a></li>
	        		<li class="management"><a href="javascript:void(0)">东融理财券</a></li>
	        		<li><a href="javascript:void(0)">安全信息</a></li>
	        		<li><a href="javascript:void(0)">会员积分</a></li>
	        		<li><a href="javascript:void(0)">风险测评</a></li>
	        		<li class="c-property"><img src="../../asset/img/member/licai.png"><a href="javascript:void(0)">理财管理</a></li>
	        		<li><a href="javascript:void(0)">我要投资</a></li>
	        		<li><a href="javascript:void(0)">我要转让</a></li>
	        		<li class="c-financing"><img src="../../asset/img/member/rongzi.png"><a href="javascript:void(0)">融资管理</a></li>
	        		<li><a href="javascript:void(0)">我的融资</a></li>
	        		<li><a href="javascript:void(0)">兑付操作</a></li>
	        		<li class="c-else"><img src="../../asset/img/member/else.png"><a href="javascript:void(0)">其他服务</a></li>
	        		<li><a href="javascript:void(0)">我的消息</a></li>
	        		<li><a href="javascript:void(0)">在线留言</a></li>
	        		<li><a href="javascript:void(0)">推广链接</a></li>
	        	</ul>
	    	</div>
	        <div class="welcome">
	        	<img src="../../asset/img/member/person.png">
	        	<p class="hello">您好，<span>wangcr</span>，欢迎登录东融金融会员中心！</p>
	        	<p class="last-time">上次登录：2015/4/18 13:37:02</p>
	        </div>
	        <div class="details">
		        <form>
		        	<label class="d-type-text">类型：</label>
					<select class="d-type" name="type">
						<option value="quanbu">全部</option>
					</select>
					<label class="d-begin-text">起始时间：</label>
					<input class="d-begin" type="date" name="begin">
					<label class="d-out-text">截至时间：</label>
					<input class="d-over" type="date" name="over">
					<button>搜索</button>
					<table>
						<tr>
							<th class="licaiquan">理财券编号</th>
							<th class="jine">金额</th>
							<th class="qishi">起始使用日期</th>
							<th class="youxiao">有效期限</th>
							<th class="jiezhi">截至使用日期</th>
							<th class="zhaiyao">摘要</th>
							<th class="caozuo">操作</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="tr2">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="tr2">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class="tr2">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</form>
	        </div>
	    </div>
	</div>
</body>
</html>