<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>账户充值</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/recharge.css">
</head>
<body>
	<div class="all">
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li><img src="../../asset/img/phone.png">客服热线：<span>400-881-9003</span></li>
					<li class="t-help"><a href="javascript:void(0)">帮助中心</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">关注我们</a></li>
				</ul>
				<ul class="t-ul2">
					<li><img src="../../asset/img/login1/user-name.png">您好，<a href="javascript:void(0)"><span>wangcr</span></a></li>
					<li><a href="javascript:void(0)">消息(<span>0</span>)</a></li>
					<li>|</li>
					<li class="t-out"><a href="javascript:void(0)">退出</a></li>
					<li><a href="javascript:void(0)">计算器</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
            <div class="h-content">
                <img src="../../asset/img/home/东融logo副本.png">
                <ul>
                    <li id="h-li1"><a href="javascrip:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">我要投资</a></li>
                    <li><a href="javascript:void(0)">我要融资</a></li>
                    <li><a href="javascript:void(0)">经常活动</a></li>
                    <li id="h-li5"><a href="javascript:void(0)">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="body">
	        <div class="catalogue">
	        	<ul>
	        		<li class="c-account"><img src="../../asset/img/member/person.png"><a href="javascript:void(0)">我的账户</a></li>
	        		<li><a href="javascript:void(0)">账户充值</a></li>
	        		<li><a href="javascript:void(0)">我要提款</a></li>
	        		<li><a href="javascript:void(0)">资金明细</a></li>
	        		<li><a href="javascript:void(0)">个人信息</a></li>
	        		<li><a href="javascript:void(0)">东融理财券</a></li>
	        		<li><a href="javascript:void(0)">安全信息</a></li>
	        		<li><a href="javascript:void(0)">会员积分</a></li>
	        		<li><a href="javascript:void(0)">风险测评</a></li>
	        		<li class="c-property"><img src="../../asset/img/member/licai.png"><a href="javascript:void(0)">理财管理</a></li>
	        		<li><a href="javascript:void(0)">我要投资</a></li>
	        		<li><a href="javascript:void(0)">我要转让</a></li>
	        		<li class="c-financing"><img src="../../asset/img/member/rongzi.png"><a href="javascript:void(0)">融资管理</a></li>
	        		<li><a href="javascript:void(0)">我的融资</a></li>
	        		<li><a href="javascript:void(0)">兑付操作</a></li>
	        		<li class="c-else"><img src="../../asset/img/member/else.png"><a href="javascript:void(0)">其他服务</a></li>
	        		<li><a href="javascript:void(0)">我的消息</a></li>
	        		<li><a href="javascript:void(0)">在线留言</a></li>
	        		<li><a href="javascript:void(0)">推广链接</a></li>
	        	</ul>
	        </div>
	        <div class="welcome">
	        	<img src="../../asset/img/member/person.png">
	        	<p class="hello">您好，<span>wangcr</span>，欢迎登录东融金融会员中心！</p>
	        	<p class="last-time">上次登录：2015/4/18 13:37:02</p>
	        </div>
	        <div class="detail">
	        	<p class="worning"><img src="../../asset/img/member/tip.png">温馨提示：为了您的账户资金更安全，请及时完成邮箱、手机、实名、银行卡认证，以及支付密码的设置。</p>
	        	<p class="balance">账户余额：<span>￥0.00</span></p>
	        	<p class="freeze">冻结总额：<span>￥0.00</span></p>
	        	<p class="usable">可用余额：<span>￥0.00</span></p>
	        	<p class="collection">代收余额：<span>￥0.00</span></p>
	        	<br>
	        	<p class="add-up">累计充值：<span>￥0.00</span></p>
	        	<p class="drawing">累计提款：<span>￥0.00</span></p>
	        	<p class="safe">安全等级：</p>
	        	<p class="approve">认证状态：<img class="email" src="../../asset/img/member/email.png">已认证<img class="phone" src="../../asset/img/member/phone.png">已认证<img src="../../asset/img/member/personid.png">未认证<img src="../../asset/img/member/card.png">未认证<img src="../../asset/img/member/password.png">未认证</p>
	        	<button class="add-up-btn">充值</button>
	        	<button class="drawing-btn">提款</button>
	        </div>
        </div>
	</div>
</body>
</html>