<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/register.css">
</head>
<body>
	<div class="all-body">
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li class="t-welcome">您好，欢迎来到东融金融交易网站！</li>
					<li><a href="javascript:void(0)">[登录]</a></li>
					<li><a href="javascript:void(0)">[注册]</a></li>
					<li><img src="../../asset/img/phone.png">服务热线：<span>400-881-9003</span></li>
				</ul>
				<ul class="t-ul2">
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">帮助中心</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
			<div class="h-content">
				<img src="../../asset/img/logo1.png">
				<ul>
					<li><a href="javascript:void(0)">首页</a></li>
					<li><a href="javascript:void(0)">我要投资</a></li>
					<li><a href="javascript:void(0)">我要融资</a></li>
					<li><a href="javascript:void(0)">新闻资讯</a></li>
					<li><a href="javascript:void(0)">关于我们</a></li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div class="b-content">
				<img class="b-man" src="../../asset/img/login1/man.png">
				<div class="b-register">
					<p class="b-welcome">欢迎登录</p>
					<a class="b-login" href="javascript:void(0)">注册新帐号</a>
					<form>
						<div class="b-user-name">
							<img class="user-img" src="../../asset/img/login1/user-name.png">	
							<input type="text" name="user-name" placeholder="请输入用户名/手机号/邮箱">
						</div>
						<div class="b-password">
							<img class="password-img" src="../../asset/img/login1/password.png">
							<input type="text" name="password" placeholder="请输入密码">
						</div>
						<div class="b-verify-code">
							<img class="code-img" src="../../asset/img/login1/verify-code.png">
							<input type="text" name="verify-code" placeholder="请输入密码">
							<img class="page-img" src="../../asset/img/login1/verify-code-page.png">
							<img class="refresh-img" src="../../asset/img/login1/refresh.png">
						</div>
						<input class="b-remeber" type="checkbox" name="remeber">
						<p class="b-remeber-text">记住密码</p>
						<input class="b-safe" type="checkbox" name="safe">
						<p class="b-safe-text">安装安全控件</p>
						<a class="b-forget" href="javascript:void(0)">忘记密码？</a>
						<button>登录</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>