<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安全认证</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/risk-rating.css">
</head>
<body>
	<div class="all">
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li><img src="../../asset/img/phone.png">客服热线：<span>400-881-9003</span></li>
					<li class="t-help"><a href="javascript:void(0)">帮助中心</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">关注我们</a></li>
				</ul>
				<ul class="t-ul2">
					<li><img src="../../asset/img/login1/user-name.png">您好，<a href="javascript:void(0)"><span>wangcr</span></a></li>
					<li><a href="javascript:void(0)">消息(<span>0</span>)</a></li>
					<li>|</li>
					<li class="t-out"><a href="javascript:void(0)">退出</a></li>
					<li><a href="javascript:void(0)">计算器</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
            <div class="h-content">
                <img src="../../asset/img/home/东融logo副本.png">
                <ul>
                    <li id="h-li1"><a href="javascrip:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">我要投资</a></li>
                    <li><a href="javascript:void(0)">我要融资</a></li>
                    <li><a href="javascript:void(0)">经常活动</a></li>
                    <li id="h-li5"><a href="javascript:void(0)">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="body">
        	<div class="catalogue">
	        	<ul>
	        		<li class="c-account"><img src="../../asset/img/member/person.png"><a href="javascript:void(0)">我的账户</a></li>
	        		<li><a href="javascript:void(0)">账户充值</a></li>
	        		<li><a href="javascript:void(0)">我要提款</a></li>
	        		<li class="fund-details"><a href="javascript:void(0)">资金明细</a></li>
	        		<li><a href="javascript:void(0)">个人信息</a></li>
	        		<li><a href="javascript:void(0)">东融理财券</a></li>
	        		<li class="c-safety-certificate"><a href="javascript:void(0)">安全信息</a></li>
	        		<li><a href="javascript:void(0)">会员积分</a></li>
	        		<li class="c-risk-rating"><a href="javascript:void(0)">风险测评</a></li>
	        		<li class="c-property"><img src="../../asset/img/member/licai.png"><a href="javascript:void(0)">理财管理</a></li>
	        		<li><a href="javascript:void(0)">我要投资</a></li>
	        		<li><a href="javascript:void(0)">我要转让</a></li>
	        		<li class="c-financing"><img src="../../asset/img/member/rongzi.png"><a href="javascript:void(0)">融资管理</a></li>
	        		<li><a href="javascript:void(0)">我的融资</a></li>
	        		<li><a href="javascript:void(0)">兑付操作</a></li>
	        		<li class="c-else"><img src="../../asset/img/member/else.png"><a href="javascript:void(0)">其他服务</a></li>
	        		<li><a href="javascript:void(0)">我的消息</a></li>
	        		<li><a href="javascript:void(0)">在线留言</a></li>
	        		<li><a href="javascript:void(0)">推广链接</a></li>
	        	</ul>
	        </div>
	        <div class="details">
	        	<div class="navigation">
	        		<p id="n-risk-rating">风险问卷调查</p>
	        	</div>
	        	<br>
	        	<br>
	        	<br>
	        	<p class="d-title">亲爱的投资者：<br>&nbsp&nbsp为了能对您的风险承受能力做出为了能对您的风险承受能力做出为了能对您的风险承受能力做出为了能对您的风险承受能力做出</p>
	        	<form>
	        		<p>1.您的年龄：</p>
	        		<input class="input-A" type="radio" name="age"><label>A.60岁及以上</label>
	        		<input type="radio" name="age"><label>B.45-50岁</label>
	        		<input type="radio" name="age"><label>C.26-44岁</label>
	        		<input type="radio" name="age"><label>D.25岁及以下</label>
	        		<p>2.您的家庭的年收入状况：</p>
	        		<input class="input-A" type="radio" name="income"><label>A.5万及一下</label>
	        		<input type="radio" name="income"><label>B.5-10万</label>
	        		<input type="radio" name="income"><label>C.10-30万</label>
	        		<input type="radio" name="income"><label>D.30万以上</label>
	        		<p>3.除了您自主的房产外，您拥有的金额资产（包括存款、股票及第二套房产的价值等资产）总额情况：</p>
	        		<input class="input-A" type="radio" name="property"><label>A.10万以下</label>
	        		<input type="radio" name="property"><label>B.10-50万</label>
	        		<input type="radio" name="property"><label>C.50-200万</label>
	        		<input type="radio" name="property"><label>D.200万以上</label>
	        		<p>4.您参与证卷、基金、外汇或期货投资的年限（如有多项，限投资年限最长的一项）：</p>
	        		<input class="input-A" type="radio" name="time"><label>A.2年一下</label>
	        		<input type="radio" name="time"><label>B.2-5年</label>
	        		<input type="radio" name="time"><label>C.5-10年</label>
	        		<input type="radio" name="time"><label>D.10年以上</label>
	        		<p>5.您对准本投资区域性股权市场的资金，占您拥有的金额资产比例是多少：</p>
	        		<input class="input-A" type="radio" name="percent"><label>A.50%以上</label>
	        		<input type="radio" name="percent"><label>B.30%-50%</label>
	        		<input type="radio" name="percent"><label>C.20%以下</label>
	        		<br>
	        		<button class="tijiao-btn">提交测试</button>
	        		<button class="chongtian-btn">重新填写</button>
	        	</form>
		    </div>
        </div>
    </div>
</body>
</html>