<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安全认证</title>
	<link rel="stylesheet" type="text/css" href="../../asset/css/safety-certificate.css">
</head>
<body>
	<div class="all">
		<div class="top">
			<div class="t-content">
				<ul class="t-ul1">
					<li><img src="../../asset/img/phone.png">客服热线：<span>400-881-9003</span></li>
					<li class="t-help"><a href="javascript:void(0)">帮助中心</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">新手入门</a></li>
					<li>|</li>
					<li><a href="javascript:void(0)">关注我们</a></li>
				</ul>
				<ul class="t-ul2">
					<li><img src="../../asset/img/login1/user-name.png">您好，<a href="javascript:void(0)"><span>wangcr</span></a></li>
					<li><a href="javascript:void(0)">消息(<span>0</span>)</a></li>
					<li>|</li>
					<li class="t-out"><a href="javascript:void(0)">退出</a></li>
					<li><a href="javascript:void(0)">计算器</a></li>
				</ul>
			</div>
		</div>
		<div class="head">
            <div class="h-content">
                <img src="../../asset/img/home/东融logo副本.png">
                <ul>
                    <li id="h-li1"><a href="javascrip:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">我要投资</a></li>
                    <li><a href="javascript:void(0)">我要融资</a></li>
                    <li><a href="javascript:void(0)">经常活动</a></li>
                    <li id="h-li5"><a href="javascript:void(0)">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="body">
        	<div class="catalogue">
	        	<ul>
	        		<li class="c-account"><img src="../../asset/img/member/person.png"><a href="javascript:void(0)">我的账户</a></li>
	        		<li><a href="javascript:void(0)">账户充值</a></li>
	        		<li><a href="javascript:void(0)">我要提款</a></li>
	        		<li class="fund-details"><a href="javascript:void(0)">资金明细</a></li>
	        		<li><a href="javascript:void(0)">个人信息</a></li>
	        		<li><a href="javascript:void(0)">东融理财券</a></li>
	        		<li class="c-safety-certificate"><a href="javascript:void(0)">安全信息</a></li>
	        		<li><a href="javascript:void(0)">会员积分</a></li>
	        		<li><a href="javascript:void(0)">风险测评</a></li>
	        		<li class="c-property"><img src="../../asset/img/member/licai.png"><a href="javascript:void(0)">理财管理</a></li>
	        		<li><a href="javascript:void(0)">我要投资</a></li>
	        		<li><a href="javascript:void(0)">我要转让</a></li>
	        		<li class="c-financing"><img src="../../asset/img/member/rongzi.png"><a href="javascript:void(0)">融资管理</a></li>
	        		<li><a href="javascript:void(0)">我的融资</a></li>
	        		<li><a href="javascript:void(0)">兑付操作</a></li>
	        		<li class="c-else"><img src="../../asset/img/member/else.png"><a href="javascript:void(0)">其他服务</a></li>
	        		<li><a href="javascript:void(0)">我的消息</a></li>
	        		<li><a href="javascript:void(0)">在线留言</a></li>
	        		<li><a href="javascript:void(0)">推广链接</a></li>
	        	</ul>
	        </div>
	        <div class="details">
	        	<div class="navigation">
	        		<p id="n-safe">安全认证</p>
	        		<p id="n-password">密码管理</p>
	        	</div>
	        	<p class="worning"><img src="../../asset/img/member/tip.png">温馨提示：为了您的账户资金更安全，请及时完成邮箱、手机、实名、银行卡认证，以及支付密码的设置。</p>
	        	<div class="d-email">
	        		<ul>
	        			<li><img src="../../asset/img/member/email.png"></li>
	        			<li class="d-email-li2">邮箱认证</li>
	        			<li class="d-email-li3">验证邮箱后可以实时跟踪账户资金变动情况。</li>
	        			<li class="d-email-li4"><img src="../../asset/img/register/right.png"></li>
	        			<li>已认证</li>
	        			<li><a href="javascript:void(0)">修改</a></li>
	        		</ul>
	        	</div>
	        	<div class="d-phone">
	        		<ul>
	        			<li><img class="d-img-phone" src="../../asset/img/member/phone.png"></li>
	        			<li class="d-phone-li2">手机认证</li>
	        			<li class="d-phone-li3">150******06</li>
	        			<li class="d-phone-li4"><img src="../../asset/img/register/right.png"></li>
	        			<li>已认证</li>
	        			<li><a href="javascript:void(0)">修改</a></li>
	        		</ul>
	        	</div>
	        	<div class="d-real-name">
	        		<ul>
	        			<li><img src="../../asset/img/member/personid.png"></li>
	        			<li class="d-real-li2">实名认证</li>
	        			<li class="d-real-li3">完成身份认证才能投标和融资。</li>
	        			<li class="d-real-li4"><img src="../../asset/img/register/warning.png"></li>
	        			<li><a herf="javacript:void(0)">未认证</a></li>
	        		</ul>
	        	</div>
	        	<div class="d-bankcard">
	        		<ul>
	        			<li><img src="../../asset/img/member/card.png"></li>
	        			<li class="d-bankcard-li2">银行卡认证</li>
	        			<li class="d-bankcard-li3">绑定银行卡后可以进行账户充值提款等操作。</li>
	        			<li class="d-bankcard-li4"><img src="../../asset/img/register/warning.png"></li>
	        			<li><a herf="javacript:void(0)">未绑定</a></li>
	        		</ul>
	        	</div>
	        	<div class="d-password">
	        		<ul>
	        			<li><img src="../../asset/img/member/password.png"></li>
	        			<li class="d-password-li2">支付密码</li>
	        			<li class="d-password-li3">支付密码默认与登录密码相同，请及时设置新的密码。</li>
	        			<li class="d-password-li4"><img src="../../asset/img/register/warning.png"></li>
	        			<li><a herf="javacript:void(0)">未设置</a></li>
	        		</ul>
	        	</div>
		    </div>
        </div>
    </div>
</body>
</html>