<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/主页.css">
    <script type="text/javascript" src="../../asset/js/jquery.js"></script>
</head>
<body>
    <div class="body">
        <div class="top">
            <div class="t-content">
                <ul class="t-ul1">
                    <li class="t-welcome">您好，欢迎来到东融金融交易网站！</li>
                    <li><a href="#">[登录]</a></li>
                    <li><a href="#">[免费注册]</a> </li>
                    <li id="t-phone"><img src="../../asset/img/home/黄色电话.png" alt="phone">客服热线:400-881-9003</li>
                </ul>
                <ul class="t-ul2">
                    <li><a href="#">新手入门</a></li>
                    <li>|</li>
                    <li><a herf="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="head">
            <div class="h-content">
                <img src="../../asset/img/home/东融logo副本.png">
                <ul>
                    <li id="h-li1"><a href="javascrip:void(0)">首页</a></li>
                    <li><a href="javascript:void(0)">我要投资</a></li>
                    <li><a href="javascript:void(0)">我要融资</a></li>
                    <li><a href="javascript:void(0)">经常活动</a></li>
                    <li id="h-li5"><a href="javascript:void(0)">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="lunbo">
            <div class="l-content">
                <ul id="piccture-id" class="l-picture">
                    <li><img src="../../asset/img/home/rotate1.jpg"></li>
                    <li><img src="../../asset/img/home/rotate1.jpg"></li>
                    <li><img src="../../asset/img/home/rotate1.jpg"></li>
                    <li><img src="../../asset/img/home/rotate1.jpg"></li>
                    <li><img src="../../asset/img/home/rotate1.jpg"></li>
                </ul>
                <ul id="point-id" class="l-point">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="l-register">
                    <form>
                        <p class="l-register-title">会员登录</p>
                        <hr>
                        <input class="l-user-name" type="text" name="user-name" placeholder="用户名/手机号">                
                        <input class="l-password" type="password" name="password" placeholder="密码">               
                        <input class="l-auth-code" type="text" name="auth-code" placeholder="验证码"> 
                        <img src="../../asset/img/login1/verify-code-page.png"><br>
                        <input class="l-remember" type="checkbox" name="remember-password">
                        <p class="l-remember-text">记住密码</p>
                        <a class="l-forget" href="javascript:void(0)">忘记帐号密码</a>
                        <br>
                        <button>立即登录</button>
                        <p class="l-go-login">还没有东融帐号，去<a href="javascript:void(0)">注册</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="public-notice">
            <div class="p-content">
                <img src="../../asset/img/home/atte.png">
                <p>最新公告：[行业动态]p2p数据易被篡改<span>date</span></p>
                <button>查看更多</button>
            </div>
        </div>
        <div class="serve">
            <div class="s-content">
                <div class="s-realname">
                    <img src="../../asset/img/home/pie1.png">
                    <h3>实名认证</h3>
                    <p>填写用户真实信息</p>
                </div>
                <div class="s-risk">
                    <img src="../../asset/img/home/pie2.png">
                    <h3>风险控制</h3>
                    <p>为注册会员进行风险测评，保护个人利益</p>
                </div>
                <div class="s-driblet">
                    <img src="../../asset/img/home/pie3.png">
                    <h3>小额分散原则</h3>
                    <p>对金额巨大的情况进行分散处理，降低风险</p>
                </div>
                <div class="s-loan">
                    <img src="../../asset/img/home/pie4.png">
                    <h3>信贷管理体系</h3>
                    <p>可根据实际需要申请项目</p>
                </div>
                <div class="s-trusteeship">
                    <img src="../../asset/img/home/pie5.png">
                    <h3>第三方托管</h3>
                    <p>通过第三方管理各种账务</p>
                </div>
                <div class="s-ensure">
                    <img src="../../asset/img/home/pie6.png">
                    <h3>政策保障</h3>
                    <p>绑定银行卡，进行提现</p>
                </div>
            </div>
        </div>
        <div class="hot-project">
            <div class="hot-content">
                <div class="hot-title">
                    <img src="../../asset/img/home/fire.png">
                    <p>热销项目<span>PROJECTS</span></p>
                    <button>查看更多</button>
                </div>
                <div class="hot-left-button">
                    <img src="../../asset/img/home/pre.png">
                </div>
                <div class="hot-details">
                    <div class="piaojubao">
                        <p class="time-over">距离结束还有：<img src="../../asset/img/home/clock.png"><span>62:42:27</span></p>
                        <div class="piaojubao-left">
                            <img src="../../asset/img/home/project1.png">
                            <p><a href="javascript:void(0)">查看详情>></a></p>
                        </div>
                        <div class="piaojubao-right">
                            <p class="tou">投</p>
                            <p class="piaojubao-title">东融票据宝5号</p>
                            <p class="checked"><img src="../../asset/img/home/checked.png">中技担保公司</p>
                            <p class="money"><img src="../../asset/img/home/money.png">按月付息，到期还本</p>
                            <p class="leixing">类型：小额理财</p>
                            <p class="shouyilv">预期年化收益率：<span>8.50%</span></p>
                            <p class="qidian">投资起点：<span>5万</span></p>
                            <p class="qixian">投资期限：<span>12个月</span></p>
                        </div>
                    </div>
                    <div class="yaowushui">
                        <p class="time-over">距离结束还有：<img src="../../asset/img/home/clock.png"><span>62:42:27</span></p>
                        <div class="yaowushui-left">
                            <img src="../../asset/img/home/project2.png">
                            <p><a href="javascript:void(0)">查看详情>></a></p>
                        </div>
                        <div class="yaowushui-right">
                            <p class="tou">投</p>
                            <p class="yaowushui-title">东融票据宝5号</p>
                            <p class="checked"><img src="../../asset/img/home/checked.png">中技担保公司</p>
                            <p class="money"><img src="../../asset/img/home/money.png">按月付息，到期还本</p>
                            <p class="leixing">类型：小额理财</p>
                            <p class="shouyilv">预期年化收益率：<span>8.50%</span></p>
                            <p class="qidian">投资起点：<span>5万</span></p>
                            <p class="qixian">投资期限：<span>12个月</span></p>
                        </div>
                    </div>
                
                </div>
                <div class="hot-right-button"><img src="../../asset/img/home/next.png"></div>
            </div>
        </div>
        <div class="biaoge">
            <div class="b-content">
                <p class="b-yishangxian">已上线项目</p>
                <p class="b-nishangxian">拟上线项目</p>
                <p class="b-zhuanrang">转让中项目</p>
                <table class="b-table-head">
                    <tr>
                        <th class="b-head-name">项目名称</th>
                        <th class="b-head-type">类型</th>
                        <th class="b-head-time">投资期限</th>
                        <th class="b-head-starting">投资起点</th>
                        <th class="b-head-income">预期年化收益率</th>
                        <th class="b-head-plan">投资进度</th>
                        <th class="b-head-state">操作状态</th>
                    </tr>
                </table>
                <div class="b-table-body">
                    <table>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                        <tr>
                            <td class="b-body-name">东融票据宝5号</td>  
                            <td class="b-body-type">小额</td>  
                            <td class="b-body-time">12个月</td>  
                            <td class="b-body-starting">5万</td>  
                            <td class="b-body-income">8.50%</td>  
                            <td class="b-body-plan">60%</td>  
                            <td class="b-body-state"><p>投资</p></td>  
                        </tr>
                    </table>
                </div>
                <div class="b-news">
                    <div class="b-news-title">
                        <p>公司新闻<span>NEWS</span><a href="javascript:void(0)">更多>></a></p>
                    </div>
                    <div class="b-news-middle">
                        <img class="renming" src="../../asset/img/home/project3.png">
                        <p class="renming-title">人民银行召开存款保险制度座谈会</p>
                        <p class="renming-content">存款保存款保存款保存款保存款保存款保<a href="javascript:void(0)">[查看详情]</a></p>
                        <br>
                        <ul>
                            <li><img src="../../asset/img/home/else-news1.png">人民银行召开存款保险制度座谈会</li>
                            <li><img src="../../asset/img/home/else-news1.png">人民银行召开存款保险制度座谈会</li>
                            <li><img src="../../asset/img/home/else-news1.png">人民银行召开存款保险制度座谈会</li>
                            <li><img src="../../asset/img/home/else-news1.png">人民银行召开存款保险制度座谈会</li>
                        </ul>
                    </div>
                </div>
                <div class="b-notice">
                    <div class="b-notice-title">
                        <p>重要公告<span>NOTICE</span><a href="javascript:void(0)">更多>></a></p>
                    </div>
                    <div class="b-left-img">
                        <img src="../../asset/img/home/project4.png">
                        <p><a href="javascript:void(0)">重要公共</a></p>
                    </div>
                    <div class="b-right-img">
                        <img src="../../asset/img/home/project5.png">
                        <p><a href="javascript:void(0)">重要公共</a></p>
                    </div>
                    <ul>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                    </ul>
                </div>
                <div class="b-questions">
                    <div class="b-questions-title">
                        <p>客户百问<span>QUESTIONS</span><a href="javascript:void(0)">更多>></a></p>
                        <ul>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                        <li><img src="../../asset/img/home/else-news2.png">人民银行召开存款保险制度座谈会</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="link">
            <div class="link-content">
                <p>友情连接<span>LINKS</span></p>
                <img src="../../asset/img/home/bank1.png">
                <img src="../../asset/img/home/bank2.png">
                <img src="../../asset/img/home/bank3.png">
                <img src="../../asset/img/home/bank4.png">
                <img src="../../asset/img/home/bank5.png">
                <img src="../../asset/img/home/bank6.png">
            </div>
        </div>
        <div class="tail">
            <div class="tail-content">
                <div class="tail-us">
                    <p>关于我们</p>
                    <ul>
                        <li>公司简介</li>
                        <li>企业文化</li>
                        <li>媒体报道</li>
                        <li>最新动态</li>
                    </ul>
                </div>
                <div class="tail-help">
                    <p>帮助中心</p>
                    <ul>
                        <li>新手入门</li>
                        <li>理财问答</li>
                        <li>使用帮助</li>
                    </ul>
                </div>
                <div class="tail-fous">
                    <p>关注我们</p>
                    <div class="weixin">
                        <img src="../../asset/img/home/weixin.png">
                        <p>微信</p>
                    </div>
                    <div class="xinlang">
                        <img src="../../asset/img/home/xinlang.png">
                        <p>新浪</p>
                    </div>
                    <div class="tengxun">
                        <img src="../../asset/img/home/tengxun.png">
                        <p>腾讯</p>
                    </div>
                    <div class="contact">
                        <p class="kefurexian">客服热线</p>
                        <p class="phone-numble">400-881-9003</p>
                        <p class="online">在线咨询</p>
                        <p class="QQ">QQ:2430703392</p>
                    </div>
                    <p class="address">2013-2018 sunshine.com</p>
                </div>
                <div class="erweima">
                    <div class="erweima-jinrong">
                        <img src="../../asset/img/home/erweima1.png">
                        <p>东融金融</p>
                    </div>
                    <div class="erweima-ziben">
                        <img src="../../asset/img/home/erweima2.png">
                        <p>东融资本</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function(){
    var len = $("#point-id>li").length;
    var index = 0;
    $("#point-id").click(function(){
        index = $("#point-id li").index(this);
        showImg(index);
}
</script>
</body>
</html>